*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow';
    font-size: 1rem;
    background-color: #3dbeff;
}

/* colors */
.container{
  /* background-color: hsl(7, 99%, 70%);
  background-color: hsl(51, 100%, 49%);
  background-color:  hsl(167, 40%, 24%);
background-color: hsl(198, 62%, 26%);
background-color:  hsl(168, 34%, 41%);
background-color:  hsl(212, 27%, 19%);
background-color:  hsl(213, 9%, 39%);
background-color:  hsl(232, 10%, 55%);
background-color:  hsl(210, 4%, 67%); */

}

.container{
    padding: 10% auto;
}

.flex{
    display: flex;
}

header{
    /* background-color: black; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: 100%;
    padding: 8% 12%;
    position: fixed;
    z-index: 5px;


}

@media screen and (min-width:1024px) {

    header{
        padding: 3% 4%;
    }

}

.logo{
    font-family: 'Fraunces';
    font-size: 1.5rem;
    font-weight: 600;

}

ul{
    gap: 20px;
    font-size: 1.5rem;
}

ul li a{
    text-decoration: none;
    color: white;
    
}

li{
    list-style: none;
}

.nav-items{
    font-size: 1.3rem;
    align-items: center;
    font-weight: 600;
    font-family: 'Fraunces';
}
.nav-items button{
    font-size: 1rem;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;

}

    .nav-items{
        display:none;
    }

    .nav-items{
        display:none;
    }

/* Hero section */
.hero-section{
    background-image: url(images/mobile/image-header.jpg);
    background-size: 100%;
    background-position: 20%  80%;
    background-repeat: no-repeat;
    padding: 2%;
    height: 100vmin;
    color: white;
    padding-top: 44px;
}

h1{
    font-size: 2rem;
    text-transform: uppercase;
   text-align: center;
   font-family: 'Fraunces';
   line-height: 1.2;
   margin: 50px auto;
   font-weight: 900;
   letter-spacing: 5px;
}


@media screen and (min-width:768px) {

    .nav-items{
        display:flex;
    }

    .hamburger{
        display:none;
    }

    header{
        padding: 4% 8%;
    }

    h1{
       /* margin: 40px auto; */
       letter-spacing: 5px;
       font-size: 3rem;

    }

    .hero-section{
        background-image: url(images/mobile/image-header.jpg);
        background-position: 10% 90%;
    }
    
   
    
}

.hero-img{
    width: 100%;
    margin: 5% auto;
    text-align: center;
}



@media screen and (min-width: 768px){
    .hero-img{
        margin: 18% auto;
    }
    
 
}

@media screen and (min-width:1024px) {
    header{
        padding: 2% 4%;
    }

    
.hero-section{
    background-image: url(images/desktop/image-header.jpg);
    background-position: 10% 90%;
    background-repeat: no-repeat;
}

br{
    display: none;
}

.hero-img{
    margin: 12% auto;
}
}
